ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50em;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

#search-form {
    max-width: 50em;
    width: 50%;
    /*border: none;
    outline: none;*/
}

.right-head {
    float: right;
    margin-right: 1em;
}

.right-foot {
    float: right;
    margin-right: 0.5em;
}